{
  "swagger": "2.0",
  "info": {
    "description": "",
    "title": "NEPA Data Standard v1.2.0",
    "version": "12.2.3 (519615d)"
  },
  "host": "sampleserver.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "application/vnd.pgrst.object+json;nulls=stripped",
    "application/vnd.pgrst.object+json",
    "text/csv"
  ],
  "produces": [
    "application/json",
    "application/vnd.pgrst.object+json;nulls=stripped",
    "application/vnd.pgrst.object+json",
    "text/csv"
  ],
  "paths": {
    "/": {
      "get": {
        "produces": [
          "application/openapi+json",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "OpenAPI description (this document)",
        "tags": [
          "Introspection"
        ]
      }
    },
    "/legal_structure": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.legal_structure.id"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.title"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.citation"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.description"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.context"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.issuing_authority"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.effective_date"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.compliance_data"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.url"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.other"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/legal_structure"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Legal, policy, or process data guiding the NEPA process, including thresholds and conditions for level of reviews or other decision criteria.",
        "tags": [
          "legal_structure"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.legal_structure"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Legal, policy, or process data guiding the NEPA process, including thresholds and conditions for level of reviews or other decision criteria.",
        "tags": [
          "legal_structure"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.legal_structure.id"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.title"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.citation"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.description"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.context"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.issuing_authority"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.effective_date"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.compliance_data"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.url"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.other"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Legal, policy, or process data guiding the NEPA process, including thresholds and conditions for level of reviews or other decision criteria.",
        "tags": [
          "legal_structure"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.legal_structure.id"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.title"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.citation"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.description"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.context"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.issuing_authority"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.effective_date"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.compliance_data"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.url"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.other"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.legal_structure.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.legal_structure"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Legal, policy, or process data guiding the NEPA process, including thresholds and conditions for level of reviews or other decision criteria.",
        "tags": [
          "legal_structure"
        ]
      }
    },
    "/gis_data_element": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.parent_gis"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.container_reference"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.format"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.access_method"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.coordinate_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.top_left_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.top_left_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.bot_right_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.bot_right_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.purpose"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_match"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.access_info"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.other"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/gis_data_element"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Inventory description for individual gis data elements.",
        "tags": [
          "gis_data_element"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.gis_data_element"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Inventory description for individual gis data elements.",
        "tags": [
          "gis_data_element"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.parent_gis"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.container_reference"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.format"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.access_method"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.coordinate_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.top_left_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.top_left_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.bot_right_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.bot_right_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.purpose"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_match"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.access_info"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.other"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Inventory description for individual gis data elements.",
        "tags": [
          "gis_data_element"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.parent_gis"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.container_reference"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.format"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.access_method"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.coordinate_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.top_left_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.top_left_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.bot_right_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.bot_right_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.purpose"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_match"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.access_info"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.other"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data_element.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.gis_data_element"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Inventory description for individual gis data elements.",
        "tags": [
          "gis_data_element"
        ]
      }
    },
    "/comment": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.comment.id"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.parent_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.commenter_entity"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.date_submitted"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.submission_method"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.content_text"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.content_json"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.response_text"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.response_json"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.public_source"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.other"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/comment"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Feedback submitted by individuals or organizations.",
        "tags": [
          "comment"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.comment"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Feedback submitted by individuals or organizations.",
        "tags": [
          "comment"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.comment.id"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.parent_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.commenter_entity"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.date_submitted"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.submission_method"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.content_text"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.content_json"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.response_text"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.response_json"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.public_source"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.other"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Feedback submitted by individuals or organizations.",
        "tags": [
          "comment"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.comment.id"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.parent_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.commenter_entity"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.date_submitted"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.submission_method"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.content_text"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.content_json"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.response_text"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.response_json"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.public_source"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.other"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.comment.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.comment"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Feedback submitted by individuals or organizations.",
        "tags": [
          "comment"
        ]
      }
    },
    "/engagement": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.engagement.id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.type"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.location"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.attendance"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.participation"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.start_datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.end_datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.other"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/engagement"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Opportunities for interaction in the NEPA process, including formal consultation.",
        "tags": [
          "engagement"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.engagement"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Opportunities for interaction in the NEPA process, including formal consultation.",
        "tags": [
          "engagement"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.engagement.id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.type"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.location"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.attendance"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.participation"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.start_datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.end_datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.other"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Opportunities for interaction in the NEPA process, including formal consultation.",
        "tags": [
          "engagement"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.engagement.id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.type"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.location"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.attendance"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.participation"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.start_datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.end_datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.other"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.engagement.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.engagement"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Opportunities for interaction in the NEPA process, including formal consultation.",
        "tags": [
          "engagement"
        ]
      }
    },
    "/process_model": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_model.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.title"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.bpmn_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.legal_structure_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.legal_structure_text"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.screening_description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.screening_desc_json"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.parent_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.DMN_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/process_model"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "A process model is a coded representation of a generic process, ideally in business process model notation, and/or screening criteria that define when or if the process is relevant to a project",
        "tags": [
          "process_model"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.process_model"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "A process model is a coded representation of a generic process, ideally in business process model notation, and/or screening criteria that define when or if the process is relevant to a project",
        "tags": [
          "process_model"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_model.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.title"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.bpmn_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.legal_structure_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.legal_structure_text"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.screening_description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.screening_desc_json"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.parent_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.DMN_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "A process model is a coded representation of a generic process, ideally in business process model notation, and/or screening criteria that define when or if the process is relevant to a project",
        "tags": [
          "process_model"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_model.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.title"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.bpmn_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.legal_structure_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.legal_structure_text"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.screening_description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.screening_desc_json"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.parent_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.DMN_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_model.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.process_model"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "A process model is a coded representation of a generic process, ideally in business process model notation, and/or screening criteria that define when or if the process is relevant to a project",
        "tags": [
          "process_model"
        ]
      }
    },
    "/gis_data": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.gis_data.id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_project_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_case_event_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_comment_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_engagement_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.description"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.extent"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.centroid_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.centroid_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.creator"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.creator_contact"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.container_inventory"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.map_image"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_container"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.address"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.updated_last"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.other"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/gis_data"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "A container for location-based information, ranging from simple points to complex polygons, as well as maps and “collapsed” geospatial information",
        "tags": [
          "gis_data"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.gis_data"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "A container for location-based information, ranging from simple points to complex polygons, as well as maps and “collapsed” geospatial information",
        "tags": [
          "gis_data"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.gis_data.id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_project_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_case_event_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_comment_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_engagement_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.description"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.extent"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.centroid_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.centroid_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.creator"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.creator_contact"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.container_inventory"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.map_image"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_container"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.address"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.updated_last"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.other"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "A container for location-based information, ranging from simple points to complex polygons, as well as maps and “collapsed” geospatial information",
        "tags": [
          "gis_data"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.gis_data.id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_project_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_case_event_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_comment_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.parent_engagement_id"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.description"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.extent"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.centroid_lat"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.centroid_lon"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.creator"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.creator_contact"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.container_inventory"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.map_image"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_container"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.address"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.updated_last"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.other"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.gis_data.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.gis_data"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "A container for location-based information, ranging from simple points to complex polygons, as well as maps and “collapsed” geospatial information",
        "tags": [
          "gis_data"
        ]
      }
    },
    "/process_instance": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_instance.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.parent_project_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.agency_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.federal_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.type"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.status"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.stage"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.start_date"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.complete_date"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.outcome"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.comment_start"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.comment_end"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.lead_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.joint_lead_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.cooperating_agencies"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.participating_agencies"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.process_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.purpose_need"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.process_code"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/process_instance"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "The Process refers to the specific type of environmental review, permit, or authorization. A process is associated with or nested beneath a project. A process will also have documents associated and nested beneath it.",
        "tags": [
          "process_instance"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.process_instance"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "The Process refers to the specific type of environmental review, permit, or authorization. A process is associated with or nested beneath a project. A process will also have documents associated and nested beneath it.",
        "tags": [
          "process_instance"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_instance.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.parent_project_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.agency_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.federal_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.type"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.status"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.stage"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.start_date"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.complete_date"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.outcome"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.comment_start"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.comment_end"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.lead_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.joint_lead_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.cooperating_agencies"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.participating_agencies"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.process_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.purpose_need"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.process_code"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "The Process refers to the specific type of environmental review, permit, or authorization. A process is associated with or nested beneath a project. A process will also have documents associated and nested beneath it.",
        "tags": [
          "process_instance"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_instance.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.parent_project_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.agency_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.federal_id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.type"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.status"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.stage"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.start_date"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.complete_date"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.outcome"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.comment_start"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.comment_end"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.lead_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.joint_lead_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.cooperating_agencies"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.participating_agencies"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.process_model"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.purpose_need"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/rowFilter.process_instance.process_code"
          },
          {
            "$ref": "#/parameters/body.process_instance"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "The Process refers to the specific type of environmental review, permit, or authorization. A process is associated with or nested beneath a project. A process will also have documents associated and nested beneath it.",
        "tags": [
          "process_instance"
        ]
      }
    },
    "/document": {
      "get": {
        "description": "Documents are also likely to have many GIS objects associated with them, usually in the past flattened to images but potentially represented as data in future systems.",
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.document.id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.document.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.title"
          },
          {
            "$ref": "#/parameters/rowFilter.document.volume_title"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_revision"
          },
          {
            "$ref": "#/parameters/rowFilter.document.revision_number"
          },
          {
            "$ref": "#/parameters/rowFilter.document.supplement_number"
          },
          {
            "$ref": "#/parameters/rowFilter.document.publish_date"
          },
          {
            "$ref": "#/parameters/rowFilter.document.prepared_by"
          },
          {
            "$ref": "#/parameters/rowFilter.document.status"
          },
          {
            "$ref": "#/parameters/rowFilter.document.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.document.url"
          },
          {
            "$ref": "#/parameters/rowFilter.document.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_summary"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_toc"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_type"
          },
          {
            "$ref": "#/parameters/rowFilter.document.other"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_files"
          },
          {
            "$ref": "#/parameters/rowFilter.document.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.document.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.document.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/document"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "The document object includes both metadata identifying the document and its context (below) and a container for summary information that lays out, at a minimum, the table of contents (or heading structure) of the document. See Document Structure section below.  ",
        "tags": [
          "document"
        ]
      },
      "post": {
        "description": "Documents are also likely to have many GIS objects associated with them, usually in the past flattened to images but potentially represented as data in future systems.",
        "parameters": [
          {
            "$ref": "#/parameters/body.document"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "The document object includes both metadata identifying the document and its context (below) and a container for summary information that lays out, at a minimum, the table of contents (or heading structure) of the document. See Document Structure section below.  ",
        "tags": [
          "document"
        ]
      },
      "delete": {
        "description": "Documents are also likely to have many GIS objects associated with them, usually in the past flattened to images but potentially represented as data in future systems.",
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.document.id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.document.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.title"
          },
          {
            "$ref": "#/parameters/rowFilter.document.volume_title"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_revision"
          },
          {
            "$ref": "#/parameters/rowFilter.document.revision_number"
          },
          {
            "$ref": "#/parameters/rowFilter.document.supplement_number"
          },
          {
            "$ref": "#/parameters/rowFilter.document.publish_date"
          },
          {
            "$ref": "#/parameters/rowFilter.document.prepared_by"
          },
          {
            "$ref": "#/parameters/rowFilter.document.status"
          },
          {
            "$ref": "#/parameters/rowFilter.document.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.document.url"
          },
          {
            "$ref": "#/parameters/rowFilter.document.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_summary"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_toc"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_type"
          },
          {
            "$ref": "#/parameters/rowFilter.document.other"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_files"
          },
          {
            "$ref": "#/parameters/rowFilter.document.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.document.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.document.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "The document object includes both metadata identifying the document and its context (below) and a container for summary information that lays out, at a minimum, the table of contents (or heading structure) of the document. See Document Structure section below.  ",
        "tags": [
          "document"
        ]
      },
      "patch": {
        "description": "Documents are also likely to have many GIS objects associated with them, usually in the past flattened to images but potentially represented as data in future systems.",
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.document.id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.document.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.document.title"
          },
          {
            "$ref": "#/parameters/rowFilter.document.volume_title"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_revision"
          },
          {
            "$ref": "#/parameters/rowFilter.document.revision_number"
          },
          {
            "$ref": "#/parameters/rowFilter.document.supplement_number"
          },
          {
            "$ref": "#/parameters/rowFilter.document.publish_date"
          },
          {
            "$ref": "#/parameters/rowFilter.document.prepared_by"
          },
          {
            "$ref": "#/parameters/rowFilter.document.status"
          },
          {
            "$ref": "#/parameters/rowFilter.document.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.document.url"
          },
          {
            "$ref": "#/parameters/rowFilter.document.notes"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_summary"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_toc"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_type"
          },
          {
            "$ref": "#/parameters/rowFilter.document.other"
          },
          {
            "$ref": "#/parameters/rowFilter.document.document_files"
          },
          {
            "$ref": "#/parameters/rowFilter.document.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.document.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.document.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.document.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.document"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "The document object includes both metadata identifying the document and its context (below) and a container for summary information that lays out, at a minimum, the table of contents (or heading structure) of the document. See Document Structure section below.  ",
        "tags": [
          "document"
        ]
      }
    },
    "/process_decision_payload": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.process_decision_element"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.process"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.project"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.evaluation_data"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.response"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_bool"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_data"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_source"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.parent_payload"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_annotation"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.evaluation_data_annotation"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/process_decision_payload"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Objects that deliver responses and/or results of the evaluation criteria in the process decision elements.",
        "tags": [
          "process_decision_payload"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.process_decision_payload"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Objects that deliver responses and/or results of the evaluation criteria in the process decision elements.",
        "tags": [
          "process_decision_payload"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.process_decision_element"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.process"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.project"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.evaluation_data"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.response"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_bool"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_data"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_source"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.parent_payload"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_annotation"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.evaluation_data_annotation"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Objects that deliver responses and/or results of the evaluation criteria in the process decision elements.",
        "tags": [
          "process_decision_payload"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.id"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.process_decision_element"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.process"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.project"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_description"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.evaluation_data"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.response"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_bool"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_notes"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_data"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.result_source"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.parent_payload"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.other"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_annotation"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.evaluation_data_annotation"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.process_decision_payload.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.process_decision_payload"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Objects that deliver responses and/or results of the evaluation criteria in the process decision elements.",
        "tags": [
          "process_decision_payload"
        ]
      }
    },
    "/user_role": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.user_role.id"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.name"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.description"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.access_policy"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.permission_descriptions"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.public"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.other"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/user_role"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Defines stakeholders interacting with the NEPA IT system.",
        "tags": [
          "user_role"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.user_role"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Defines stakeholders interacting with the NEPA IT system.",
        "tags": [
          "user_role"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.user_role.id"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.name"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.description"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.access_policy"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.permission_descriptions"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.public"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.other"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Defines stakeholders interacting with the NEPA IT system.",
        "tags": [
          "user_role"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.user_role.id"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.name"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.description"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.access_policy"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.permission_descriptions"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.public"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.other"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.user_role.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/body.user_role"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Defines stakeholders interacting with the NEPA IT system.",
        "tags": [
          "user_role"
        ]
      }
    },
    "/case_event": {
      "get": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.case_event.id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.parent_event_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.name"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.description"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.source"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.type"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.tier"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.status"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.outcome"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.assigned_entity"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.following_segment_name"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.related_engagement_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.other"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/order"
          },
          {
            "$ref": "#/parameters/range"
          },
          {
            "$ref": "#/parameters/rangeUnit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/preferCount"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "items": {
                "$ref": "#/definitions/case_event"
              },
              "type": "array"
            }
          },
          "206": {
            "description": "Partial Content"
          }
        },
        "summary": "Milestones or steps within the NEPA review, tracked in a case management system or other system, such as task management tools or reporting dashboards.",
        "tags": [
          "case_event"
        ]
      },
      "post": {
        "parameters": [
          {
            "$ref": "#/parameters/body.case_event"
          },
          {
            "$ref": "#/parameters/select"
          },
          {
            "$ref": "#/parameters/preferPost"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "summary": "Milestones or steps within the NEPA review, tracked in a case management system or other system, such as task management tools or reporting dashboards.",
        "tags": [
          "case_event"
        ]
      },
      "delete": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.case_event.id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.parent_event_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.name"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.description"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.source"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.type"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.tier"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.status"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.outcome"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.assigned_entity"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.following_segment_name"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.related_engagement_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.other"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_source_system"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_record_version"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.last_updated"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.retrieved_timestamp"
          },
          {
            "$ref": "#/parameters/preferReturn"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Milestones or steps within the NEPA review, tracked in a case management system or other system, such as task management tools or reporting dashboards.",
        "tags": [
          "case_event"
        ]
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/parameters/rowFilter.case_event.id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.created_at"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.parent_process_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.parent_event_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.related_document_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.name"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.description"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.source"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.type"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.public_access"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.tier"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.status"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.outcome"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.assigned_entity"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.datetime"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.following_segment_name"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.related_engagement_id"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.other"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.record_owner_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_source_agency"
          },
          {
            "$ref": "#/parameters/rowFilter.case_event.data_source_system"
          },
          {
[...]
